<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" type="text/css"  href="../assets//css//sign-up.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.1/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </head>
    <body>
        <div id="outer1">
        <img src="../assets/images/social-media-icons-hanging-from-blue-string.jpg" id="image1">
        <div id="form-data">
            <div id="heading1">
        <h1 id="heading1">Create Account</h1>
          </div>
          <div >
        <form action="/users/create" method="post">
            <input type="text" id="name" name="name" placeholder="Enter your name" required> <br>
            <input type="email" id="email" name="email" placeholder="Enter your email" required><br>
            <input type="password" id="password" name="password" placeholder="Enter your password" required><br>
            <input type="password" id="confirm-password" name="confirm_password" placeholder="Confirm password" required><br>
            <button type="submit" id="submit">submit</button><br>
            
        </form>
        <a href="/users/sign-in">Sign-In</a>
    </div>
    </div>
    </div>
        <script >
            <%if(flash.success && flash.success.length>0){%>
                new Noty(
                    {
                        theme:'relax',
                        text:"<%= flash.success%>",
                        type:'success',
                        layout:'topRight',
                        timeout:1500
                    }
                ).show();
                <%}%>
                <%if(flash.error && flash.error.length>0){%>
                new Noty(
                    {
                        theme:'relax',
                        text:"<%= flash.error%>",
                        type:'error',
                        layout:'topRight',
                        timeout:1500
                    }
                ).show();
                <%}%>
        </script>
    </body>
</html>